---
---

@import "{{ site.theme }}";

body {
  background-color: rgb(35, 39, 47);
  color: rgb(235, 236, 240);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(235, 236, 240);
  text-shadow: none;
}

a {
  color: rgb(20, 158, 202);
}

header {
  border-bottom: 1px dashed rgb(20, 158, 202);
}
